@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-wrap {
  white-space: nowrap;
}

:root {
  --FF: "Outfit", sans-serif;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: var(--FF);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: var(--light-gray);
}

.card {
  background: var(--white);
  margin: auto;
  padding: 1.2rem;
  max-width: 375px;
  box-shadow: 0px 4px 7px var(--light-gray);
  border-radius: 1.5em;
  text-align: center;
}

.qr-code {
  border-radius: 1em;
}

.card-body {
  margin: 0.8rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 1.1rem 0;
  color: var(--dark-blue);
}

.card-paragraph {
  margin: 0 1.5rem;
  font-size: 15px;
  color: var(--grayish-blue);
}

.attribution {
  text-align: center;
  margin-bottom: 1rem;
}
